/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cdk-overlay-container {
    z-index: 9999 !important;
  }

  .cdk-global-overlay-wrapper {
    transform: none !important;
  }